* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #222222;
  line-height: 1.5rem;
  overflow-x: hidden;
}

/* ========== Navbar =========== */
.navbar-brand img {
  width: 160px;
  height: 40px;
  margin-top: -17px;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

video#bgvid {
  width: 100%;
}

.bg-light {
  border: none;
  opacity: 0.8;
  min-height: 75px;
  background-color: #fff !important;
}

nav.white {
  opacity: 1;
  background-color: #ffffff !important;
  border-bottom: 4px solid #6ebe44;
  transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
  color: #222222;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  padding: 10px;
}

.nav-item.active {
  background: #6ebe44;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: #6ebe44;
  color: #fff;
  transition: all 400ms linear;
}

/* ========== Home-Section ============ */

.home-content {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translate(0%, -240%);
}

.home-content h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 35px;
}

a.btn {
  border: 2px solid #6ebe44;
  border-radius: 20px;
  padding: 8px 25px;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
  background: #6ebe44;
}

a.btn:hover {
  background: transparent;
  color: #fff;
  transition: 0.5s;
}

/* =========== About Us =========== */
#about {
  padding: 90px 0;
}

.section-heading h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  padding-bottom: 15px;
}

.section-heading p {
  padding-top: 20px;
  color: #222;
  width: 675px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 45px;
}

.section-heading h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 180px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(49% - 90px);
}

.section-heading h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #6ebe44;
  bottom: 0;
  left: calc(49% - 20px);
}

.about_area {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.about-content {
  padding: 20px;
}

.about-number {
  float: left;
  margin-right: 15px;
}

.about-number h2 {
  font-size: 40px;
  font-weight: 600;
  color: #6ebe44;
}

.about-content h4 {
  font-size: 20px;
  margin-top: 6px;
  font-weight: 500;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.about-content p {
  font-size: 13px;
  color: #777;
}

p.text1 {
  margin-left: 57px;
}

p.text2 {
  margin-left: 65px;
}

p.text3 {
  margin-left: 66px;
}

/* ============ Welcome =========== */
#welcome {
  background-attachment: fixed;
  background-image: url("../img/welcome-bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.welcome-overlay {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.left {
  color: #fff;
  padding-top: 65px;
}

/* ============ JatriBd ============= */
.jatribd-img img {
  width: 100%;
  height: auto;
}

#JatriBd {
  padding: 80px 0 30px 0;
}

.jatribd-content {
  margin-top: 40px;
}

.jatribd-content h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.jatribd-content p {
  margin-bottom: 35px;
  font-size: 14px;
  color: #666;
  font-weight: 400;
}

.download {
  display: flex;
}

a.btn-android {
  text-decoration: none;
  border: 1px solid #ddd;
  align-items: center;
  padding: 8px 30px;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

a.btn-android:hover {
  background: #6ebe44;
  transition: all 400ms linear;
}

a.btn-android:hover i,
a.btn-android:hover span,
a.btn-android:hover p {
  color: #ffffff;
}

i.fab.fa-android {
  margin-right: 10px;
  float: left;
  font-size: 30px;
  color: #222222;
}

.download span {
  display: block;
  color: #222;
  font-size: 14px;
}

/* ========= Feature ========= */
section#Feature {
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)),
    url("../img/feature-bg1.jpg") fixed center center;
  background-size: cover;
  padding: 90px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.feature_area {
  margin-top: 35px;
}

.feature-icon {
  float: left;
  margin-right: 20px;
}

.feature-icon i {
  color: #fff;
  font-size: 20px;
  width: 60px;
  height: 60px;
  background: #6ebe44;
  border-radius: 50%;
  padding: 20px 18px;
}

.feature-icon i:hover {
  background: #fff;
  color: #6ebe44;
  border: 1px solid #6ebe44;
  transition: all 400ms linear;
  cursor: pointer;
}

.feature-content p {
  margin-left: 78px;
}

/* ============== Stats =============== */
#stats {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/counter-bg1.jpg") fixed center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  color: #fff;
}

.stat-items i {
  font-size: 35px;
  margin-bottom: 20px;
  color: #6ebe44;
}

span.counter {
  font-size: 45px;
  font-weight: bold;
}

.stat-items p {
  text-transform: uppercase;
  font-size: 18px;
}

/* =========== Portfolio ============ */
#portfolio {
  padding: 90px 0 30px 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  width: 12px;
  background: #6ebe44;
  height: 12px;
  transition: all 400ms linear;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #fff;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 20px;
  border: 1px solid #6ebe44;
}

.button.text-center {
  margin-top: 10px;
}

.button.text-center a:hover {
  color: #6ebe44;
  transition: 0.5s;
}

/* ============ Prcing ============= */
section#pricing {
  background: #f9f9f9;
  padding: 90px 0 70px 0;
}

.pricing-area {
  background: #ffffff;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 50px 20px;
}

.pricing-area h4 {
  font-size: 17px;
  color: #6ebe44;
  font-weight: 700;
}

.pricing-area h5 {
  font-size: 16px;
  margin-bottom: 25px;
  color: #314a5d;
  font-weight: 500;
}

.pricing-area span {
  font-size: 21px;
}

.pricing-area strong {
  font-size: 30px;
}

.pricing-area ul {
  padding: 0px;
  margin: 25px 0px;
}

.pricing-area ul li {
  list-style: none;
  line-height: 28px;
}

.pricing-area:hover {
  background: #6ebe44;
  cursor: pointer;
  transition: all 400ms linear;
}

.pricing-area:hover h4,
.pricing-area:hover h5,
.pricing-area:hover span,
.pricing-area:hover strong,
.pricing-area:hover li {
  color: #fff;
}

.pricing-area:hover .pricing-btn .btn {
  background: #fff;
  color: #6ebe44;
}

.pricing-area.active {
  background: #6ebe44;
  color: #fff;
}

.pricing-area.active h5 {
  color: #fff;
}

.pricing-area.active h4 {
  color: #fff;
}

.pricing-area.active .pricing-btn .btn {
  background: #fff;
  color: #6ebe44;
}

button.owl-prev {
  width: 30px;
  height: 30px;
  background: #6ebe44 !important;
  border-radius: 3px !important;
  color: #fff !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

button.owl-prev:hover {
  background: #fff !important;
  color: #6ebe44 !important;
  border: 1px solid #6ebe44 !important;
  transition: 0.5s;
}

button.owl-next {
  width: 30px;
  height: 30px;
  background: #6ebe44 !important;
  border-radius: 3px !important;
  color: #fff !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

button.owl-next:hover {
  background: #fff !important;
  color: #6ebe44 !important;
  border: 1px solid #6ebe44 !important;
  transition: 0.5s;
}

/* ========== Purchase =========== */
section#purchase {
  padding: 35px 0px;
  background: #6ebe44;
}

#purchase h4 {
  font-size: 17px;
  color: #e4e4e4;
  text-transform: uppercase;
}

a.btn-purchase,
a.btn-contact {
  text-decoration: none;
  color: #6ebe44;
  background: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-right: 8px;
  font-weight: 500;
}

/*=========== Testimonial =========== */
#testimonial {
  background-image: url("../img/test-bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
}

#testimonials-cover {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.9);
}

.testimonials {
  padding: 90px 0px 0px 0px;
}

.testimonials img {
  max-width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  border: 5px solid #6ebe44;
  border-radius: 50%;
  margin-bottom: 15px;
}

i.fas.fa-quote-left {
  font-size: 20px;
  margin-right: 5px;
}

i.fas.fa-quote-right {
  font-size: 20px;
  margin-left: 5px;
}

.testimonials blockquote {
  border: 0;
  font-style: italic;
  color: #fff;
  width: 80%;
  margin: 0 auto;
}

.testimonial-rating i {
  margin-bottom: 15px;
  color: #fff;
}

.testimonial-author h5 {
  color: #aaa;
  font-size: 19px;
  font-weight: 500;
}

.testimonial-author p {
  color: #e4e4e4;
}

.testimonial-author p a {
  color: #6ebe44;
  text-decoration: none;
}

#testimonial-area button.owl-next {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(50%, 50%);
}

button.owl-prev {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(50%, 50%);
}

/* ============ Team =============*/
section#team {
  padding: 90px 0 30px 0;
}

.team-section {
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;
  min-height: 250px;
  background-color: #fff;
  margin: 0 10px;
}

.team-section:before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: rgba(110, 190, 68, 0.3);
}

.team-section .imgBox {
  position: relative;
}

.team-section .imgBox img {
  width: 100%;
  transition: 5s;
}

.team-section:hover .imgBox img {
  transform: scale(1.5);
}

.img-details {
  position: absolute;
  bottom: -82px;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  transition: 0.5s;
}

.team-section:hover .img-details {
  bottom: 0;
}

.img-details h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  text-align: right;
  font-size: 16px;
  text-transform: uppercase;
}

.img-details h3 span {
  color: #6ebe44;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  position: relative;
}

.img-details ul {
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
}

.img-details ul li {
  list-style: none;
}

.img-details ul li a {
  padding: 0 10px;
  color: #fff !important;
}

.img-details ul li a:hover {
  color: #6ebe44 !important;
  cursor: pointer;
}

.img-details ul li a i {
  transition: 0.5s;
}

/* ============= Work With ============== */
#work_with img {
  width: 100%;
  height: 400px;
}

.work_with_img {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../img/test-bg1.jpg") fixed center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.work-content {
  padding-top: 120px;
  text-align: center;
  color: #fff;
}

.work-content h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.work-button {
  margin-top: 25px;
  text-align: center;
}

a.work-btn {
  border: 2px solid #6ebe44;
  border-radius: 20px;
  padding: 8px 25px;
  color: #fff;
  font-size: 15px;
  transition: 0.5s;
  text-decoration: none;
}

a.work-btn:hover {
  background: #6ebe44;
  color: #fff;
  transition: 0.5s;
}

.modal-header {
  border-top: 4px solid #6ebe44;
  border-radius: 0px;
  border: none;
}

.modal-content {
  border-radius: 0px !important;
  border: none;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-footer {
  border: none;
}

button.btn.btn-primary {
  border-radius: 18px;
  font-size: 15px;
  background: #6ebe44;
  border: none;
  padding: 8px 25px;
  transition: 0.5s;
  color: #fff;
  border: 1px solid #6ebe44;
}

button.btn.btn-primary:hover {
  background: #fff;
  border: 1px solid #6ebe44;
  color: #6ebe44;
  transition: 0.5s;
}

button.btn.btn-secondary {
  background: #fff;
  color: #6ebe44;
  border-radius: 25px;
  font-size: 15px;
  padding: 8px 20px;
  border: 1px solid #6ebe44;
}

button.btn.btn-secondary:hover {
  background: #6ebe44;
  color: #fff;
  border: 1px solid #6ebe44;
  transition: 0.5s;
}

.modal-body .form-control {
  border-radius: 3px !important;
  font-size: 14px;
  border: 1px solid #6ebe44;
}

/* =========== Contact ============== */
#contact {
  padding: 80px 0 0px 0;
}

.contact-left h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-left p {
  font-weight: 500;
  color: #666;
  margin-bottom: 25px;
}

.contact-list i {
  margin-top: 15px;
  color: #6ebe44;
  font-size: 25px;
}

.contact-list span {
  margin-left: 15px;
  color: #222;
  font-weight: 500;
}

.contact-right {
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 35px;
}

.contact-right h4 {
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: italic;
}

.form-control {
  font-size: 14px;
}

a.send-btn {
  color: #fff;
  text-decoration: none;
  background: #6ebe44;
  padding: 9px 30px;
  font-size: 14px;
  transition: 0.5s;
  border: 2px solid #6ebe44;
}

a.send-btn:hover {
  background: #fff;
  color: #6ebe44;
  border: 2px solid #6ebe44;
  transition: 0.5s;
}

/* =========== Footer =========== */
section.footer {
  background: #6ebe44;
  color: #fff;
  padding: 50px 0;
}

.footer img {
  width: 160px;
  height: 40px;
  margin-bottom: 15px;
}

.footer h5 {
  margin-top: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

ul.condition {
  margin-top: 20px;
  padding: 0;
}

ul.condition li {
  list-style: none;
  margin-bottom: 8px;
}

.condition a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
}

.condition a:hover {
  color: rgb(235, 235, 235);
  transition: 0.5s;
}

.social-media ul {
  margin: 0;
  padding: 0;
}

.social-media li {
  list-style: none;
  display: inline-block;
}

.social-media li a i {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: #6ebe44;
  padding: 10px 12px;
  font-size: 18px;
  margin-right: 8px;
  transition: 0.5s;
  font-weight: bold;
  border: 1px solid #6ebe44;
}

.social-media li a i:hover {
  background: #6ebe44;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
}

.link li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.link li a {
  color: #f9f9f9;
}

.link ul {
  margin: 0;
  padding: 0;
}

#bottom-bar {
  border-top: 1px solid #fff;
  padding-top: 25px;
}

#bottom-bar p a {
  font-size: 18px;
  color: #ccc;
  text-decoration: none;
}

#bottom-bar p a:hover {
  color: #fff;
  transition: 0.5s;
}

#topBtn {
  position: fixed;
  bottom: 0px;
  right: 40px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #6ebe44;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  border: none;
}

/* ============== Preloader ============ */
.loader-bg {
  background: #fff;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loader:before,
.loader:after {
  content: ' ';
  border: 1em solid #6ebe44;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: .5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }

}

/* ============ Media Query ============ */
@media only screen and (max-width: 567px) {
  .home-content {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translate(0%, -355%);
  }

  .home-content h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-content p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 667px) {
  .home-content {
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translate(0%, -350%);
  }

  .home-content h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .home-content p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}